
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
body, input, select, textarea {
  font-family: 'Crimson Text',Georgia,serif;
  font-size: 16px;
  color: #444;
  line-height: 1.8;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'FuturaPT','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
}
h5{
  margin-bottom: .5em;
  font-size: 14px;
  letter-spacing: 2px;
}
.collage {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}
.item-1 {
  margin-top: 80px;
  display: flex;
  margin-bottom: 0;
}
.chicken {
  width: 100%;
  margin-bottom: 0;
  filter:brightness(1.1)
}
.item-2 {
  display: none;
}
.item-3 {
  display: none;
}

.item-4 {
  display: none;
}
.experience {
  color: #35a697;
  background: #FFF;
  border: 1px solid transparent;
  border-radius: 6px;
  display: inline-block;
  font-family: 'FuturaPT','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 15px 30px;
  
  cursor: pointer !important;
  transition: all .3s;
}
.experience:hover {
  margin-top: 10px;
  padding: 15px 50px 15px 50px;
  background-color: #35a697; 
  color: white;
  border: 1px solid white;
}
a, a:link, a:visited {
  color: #35a697;
  transition: all .3s;
  text-decoration: none;
}
.underMainText {
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'Crimson Text';
  color: #444;
}
h2 {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: 1em;
}
.underMainPic {
  margin-left: 8px;
  margin-right: 8px;
}
.threeCards{
  margin-left: 8px;
  margin-right: 8px;
}
.underCard {
  margin-left: 8px;
  margin-right: 8px;
}
.boxLunchPic{
  width: 100%;
  filter: brightness(1.2);
}
.threeCards{

}
.card{
  
  padding: 30px 18px;
  margin-bottom: 30px;
}
.blueCard{
  background-color:#ecf6f5;
  
}
.blueCardTitle{
  color: #52c0b3;
  font-size: 18px;
}
.orangeCard{
  background-color: #f7efe6;
}
.orangeCardTitle {
  color: #f79726;
  font-size: 18px;
}
.pinkCard{
  background-color: #f9f3f3;
}
.pinkCardTitle {
  color: #f26865;
  font-size: 18px;
}





.item-5 {
  width: 100%;
  font-family: 'FuturaPT','Helvetica Neue',Helvetica,Arial,sans-serif;;
  opacity: 95%;
  background-color: rgba(53,166,151,.8); 
  color: white;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  place-self: center;
  margin-bottom: 5em;
}
.item-5-text{
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 1.4;  
  font-family: 'FuturaPT','Helvetica Neue',Helvetica,Arial,sans-serif; 
}
#S1 {
  margin-bottom: 10px;
}

.bottomImage {
    width: 100%;
    filter:brightness(1.2);
}
.description {
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  background: #ecf6f5;
  padding-top:60px;
  padding-bottom: 60px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 60px;
}
.instaDiv {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #52c0b1;
  display: flex;
  
  transition: all .3s;
  
  padding:5px;
  margin-bottom: 60px;
}
.instaDiv img {
  display: block;
  width: 20px;
  height: 15px;
  margin-top: 0.6em;
  margin-left: 0.5em;
}
.instaContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 15px;
}

/**************C0NTACT **********************************/
input[type=text], input[type=email], textarea{
  border: 1px solid #e7eeed;
  border-radius: 3px;
  padding: 10px;
  width: 90%;
  margin-bottom: 10px;
  
}
button {
  
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 3px;
}

.contact-container {
  font-family: 'Crimson Text',Georgia,serif;
  font-size: 16px;
  color: #444;
  line-height: 1.8;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 5em;
  background-color: #ecf6f5;
  padding: 20px;
}

.contact-flex {
  display: flex;
  
}

.contact-image {
  display: none;
}
.contact-img{
  width: 100%;
  min-height: 742.6px;
  max-height: 742.6px;
  filter: brightness(1.1);
}
#message {
  width: 80vw;
  height: 20vh;
}
label {
  font-size: 14px !important;
  letter-spacing: 2px;
  font-family: 'FuturaPT','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-weight: normal !important;
  line-height: 1.3;
}
select {
  display: inline-block;
  border: 1px solid #e7eeed;
  padding: 10px 5px !important;
  line-height: 1.5;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: normal;
  width: calc(100% - 8px);
  box-sizing: border-box !important;
  color: #444;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}
.input-div {
  display: inline-block;
  width: 100%;
  
}
#button-container {
  display: flex;
}
#send-button {
  align-self: flex-end;
  justify-self: flex-end;
  background-color:#35a697;
}
.name-div{
  margin-right: auto;
}
.guest-div{
  margin-right: auto;
}
.phone-div{
  margin-right: auto;
}
#company-div {
  width: 50%;
  margin-right: auto;
}




/*------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 960px){
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 15px;
  }
  input[type=text], input[type=email], textarea{
    border: 1px solid #e7eeed;
    border-radius: 3px;
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
    
  }
  button {
    
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
  }
  
  .contact-container {
    font-family: 'Crimson Text',Georgia,serif;
    font-size: 16px;
    color: #444;
    line-height: 1.8;
    width: 49%;
    margin-bottom: 5em;
    background-color: #ecf6f5;
    padding: 20px;
  }
  
  .contact-flex {
    display: flex;
    
  }
  
  .contact-image {
    margin-right: 1em;
    width: 49%;
  }
  .contact-img{
    width: 100%;
    min-height: 742.6px;
    max-height: 742.6px;
    filter: brightness(1.1);
  }
  #message {
    width: 40vw;
    height: 20vh;
  }
  label {
    font-size: 14px !important;
    letter-spacing: 2px;
    font-family: 'FuturaPT','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #000;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-weight: normal !important;
    line-height: 1.3;
  }
  select {
    display: inline-block;
    border: 1px solid #e7eeed;
    padding: 10px 5px !important;
    line-height: 1.5;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: normal;
    width: calc(100% - 8px);
    box-sizing: border-box !important;
    color: #444;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
  .input-div {
    display: inline-block;
    width: 45%;
    
  }
  #button-container {
    display: flex;
  }
  #send-button {
    align-self: flex-end;
    justify-self: flex-end;
    background-color:#35a697;
  }
  .name-div{
    margin-right: auto;
  }
  .guest-div{
    margin-right: auto;
  }
  .phone-div{
    margin-right: auto;
  }
  #company-div {
    width: 50%;
    margin-right: auto;
  }
  
  


}


/****************************************************************Contact Form */


/*---------------------------About About-------*/
.about-container {
  margin-top: 10em;
  margin-bottom: 5em;
  margin-left: 8px;
  margin-right: 8px;
}
